:root {
    /* targeting the root of the document to make the background color the same */
    background-color: rgb(29,26,26);
}

* {
    /* targets everything to make it match these styling features */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Zen Dots', cursive;;
    text-decoration: none;
}

.heading {
    /* applying styling affects to the class heading */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    font-size: 50px;
    flex-direction: column;
    color: rgb(22, 194, 194);
}

.game-stats {
    /* positions the game statistics to be in the top left corner */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0rem;
    margin: 2rem;
    padding: 1rem;
    background-color: rgb(30, 0, 128);
    color: rgb(70, 187, 242);
}

.timer {
    display: flex;
    color: white;
    /* display: none; */
}

span {
    margin: 0.5rem;
}

#reset { 
    margin-top: 0.5rem;
    background-color: rgba(237, 0, 0, 0.851);
    color: rgb(43, 43, 240);
    padding: 0.3rem;
}

#reset:hover {
    cursor:cell;
}

.btn {
    /* adds styling to both of the buttons using their class */
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: rgb(28,26,26);
    background: linear-gradient(90deg, rgb(102, 149, 251) 0%, rgb(106, 129, 164) 100%);
    border-radius: 10px;
}

#highscore-btn {
    /* changes just the high score button */
    color: rgb(60, 60, 103);
    background: linear-gradient(90deg, rgb(226, 240, 17) 0%, rgb(235, 231, 12) 100%);
}

#highscore-btn:hover {
    box-shadow: 1rem 1rem 1.7rem 0.2rem rgba(239, 239, 21, 0.5);
}

.fa-crown {
    /* changes the crown inside of the high score button */
    color: rgb(50, 13, 143);
    font-size: 2.7rem;
    margin-left: 0.8rem;
}

.btn:hover {
    /* adds the hover feature which also adds box shadow */
    cursor: cell;
    box-shadow: 0.5rem 0.4rem 1.4rem 0.5rem rgba(67, 88, 113, 0.6);
    transition: transform 150ms;
    transform: sclae(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}